.detail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1312px;
    height: 726.3px;
    background-color:transparent;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
  }
  
  .book-image {
    max-width: 300px;
    max-height: 400px;
    margin-right: 20px;
  }
  
  .detail-info {
    flex: 1;
  }
  
